/**
https://www.onlygfx.com/8-brush-stroke-banners-vector-svg-png-transparent-vol-2/
 */

.highlight-yellow {
  background: url('@components/style/selldone/brushs/yellow-brushstroke.webp') no-repeat;
  background-size: 100% 95%;
}
.highlight-invert {
  color: #000;
  filter: invert(100%);
  -webkit-filter: invert(100%);
}

