$stripe-color-1: #aaa;
$stripe-color-2: transparent;

.inactive-overlay {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(135deg, $stripe-color-1 25%, $stripe-color-2 25%, $stripe-color-2 50%, $stripe-color-1 50%, $stripe-color-1 75%, $stripe-color-2 75%, $stripe-color-2);
    background-size: 40px 40px;
    opacity: 0.2;
    pointer-events: none;
    background-repeat: repeat;
  }
}
