.c-avocado {
  background: #fff;
  box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.01),
  0 5px 50px 4px rgba(166, 166, 166, 0.37) !important;
  border-radius: 16px !important;
  transition: all 0.7s ease-in;
  z-index: 1;
  position: relative;
  overflow: hidden;


  .-footer {
    font-size: 10px;
    font-weight: 500;
    text-align: right;
    direction: ltr;
    a {
      color: #738611;
      &:hover {
        color: #b7d22b;
      }
      img {
        margin-bottom: 2px;
      }
    }
  }

}

.-add-btn,.-pay-btn {
  background-image: linear-gradient(120deg, #738611 0%, #9eb644 100%);
  box-shadow: 0 3px 20px 8px rgba(175, 190, 85, 0.66) !important;
}
.-delivery-btn {
  background-image: linear-gradient(120deg, #03a9f4 0%, #0288d1 100%);
  box-shadow: 0 3px 20px 8px rgba(3, 157, 232, 0.42) !important;
}